body{
    margin: 0;
}

#section1, #section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    transition: width 0.5s;
    height: 100vh;
}

#section1{
    background-color: black;
    float: left;

}

#section2{
    background-color: rgb(122, 223, 210);
    float: right;
}

#section1 > h1 {
    color: white;
}

h1 {
    text-align: center;
}